<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lansoeditor.advanceDemo"
    android:versionCode="3100"
    android:versionName="3.1.0">


    <uses-feature android:glEsVersion="0x00020000"></uses-feature>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" />


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />-->

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />


    <permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application
        android:name="com.example.advanceDemo.DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ls_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.example.advanceDemo.utils.StartActivity"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.advanceDemo.ListMainActivity"
            android:screenOrientation="portrait">

        </activity>



        <activity android:name="com.example.advanceDemo.aeDemo.AERecordFileHintActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.example.advanceDemo.aeDemo.PlayerAEDemoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />



        <!-- 列表 -->
        <activity android:name="com.example.advanceDemo.ListLayerDemoActivity" />
        <activity android:name="com.example.advanceDemo.ListSceneDemoActivity" />



        <!-- 录制类  -->
        <activity
            android:name="com.example.advanceDemo.ListCameraRecordActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.example.advanceDemo.camera.CameraLayerFullPortActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>


        <activity
            android:name="com.example.advanceDemo.camera.CameraLayerFullPortWithMp3Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:name="com.example.advanceDemo.camera.CameraSubLayerDemo1Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:name="com.example.advanceDemo.camera.CameraSubLayerDemo2Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:name="com.example.advanceDemo.camera.CameraLayerFullSegmentActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:name="com.example.advanceDemo.camera.CameraHePaiActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>



        <activity
            android:name="com.example.advanceDemo.camera.CameraLayerFullLandscapeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>

        <activity
            android:name="com.example.advanceDemo.camera.CameraLayerKTVDemoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>


        <!-- 基本图层类 -->
        <activity
            android:name="com.example.advanceDemo.layerDemo.Demo1LayerMothedActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.example.advanceDemo.DouYinDemoActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name="com.example.advanceDemo.scene.VideoH2VActivity"
            android:screenOrientation="portrait"/>


        <activity android:name="com.example.advanceDemo.layerDemo.Demo2LayerMothedActivity"/>
        <activity android:name="com.example.advanceDemo.layerDemo.Demo3LayerFilterActivity"/>


        <activity android:name="com.example.advanceDemo.scene.VideoSpeedDemoActivity"/>

        <activity android:name="com.example.advanceDemo.VideoOneDODemoActivity"/>


        <activity android:name="com.example.advanceDemo.layerDemo.BitmapLayerMarkActivity"/>


        <activity android:name="com.example.advanceDemo.layerDemo.TwoVideoLayerActivity"/>

        <activity android:name="com.example.advanceDemo.layerDemo.ExecuteTwoVideoLayerDemoActivity"/>



        <activity android:name="com.example.advanceDemo.bitmapAudio.BitmapLayerFilterDemoActivity"/>
        <activity android:name="com.example.advanceDemo.layerDemo.ExecuteCanvasLayerActivity"/>

        <activity
            android:name="com.example.advanceDemo.scene.VideoSeekActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">

        </activity>


        <!-- 场景举例 -->
        <activity android:name="com.example.advanceDemo.scene.LayerLayoutDemoActivity"/>
        <activity android:name="com.example.advanceDemo.scene.TwoVideoLayoutActivity"/>

        <activity android:name="com.example.advanceDemo.scene.VideoLayerTransformActivity"/>

        <activity android:name="com.example.advanceDemo.scene.MoreLayHeadSeekActivity"/>

        <activity android:name="com.example.advanceDemo.scene.VideoLayerAutoUpdateActivity"/>

        <activity android:name="com.example.advanceDemo.scene.PicturesSlideDemoActivity"/>

        <activity android:name="com.example.advanceDemo.scene.ExecuteAllDrawpadActivity"/>


        <activity android:name="com.example.advanceDemo.scene.GameVideoDemoActivity"/>


        <activity android:name="com.example.advanceDemo.scene.ParticleDemoActivity"/>

        <activity android:name="com.example.advanceDemo.scene.VViewImage3DDemoActivity"/>


        <!-- 图片/声音 其他类. -->

        <activity android:name="com.example.advanceDemo.layerDemo.ExecuteVideoLayerActivity"/>

        <activity android:name="com.example.advanceDemo.bitmapAudio.ExtractVideoFrameDemoActivity"/>


        <activity android:name="com.example.advanceDemo.bitmapAudio.DisplayFramesActivity"/>
        <activity android:name="com.example.advanceDemo.ListBitmapAudioActivity"/>


        <activity android:name="com.example.advanceDemo.layerDemo.CanvasLayerDemoActivity"/>

        <activity android:name="com.example.advanceDemo.bitmapAudio.BitmapEditDemoActivity"/>


        <!-- 播放和其他类 -->

        <activity android:name="com.example.advanceDemo.VideoPlayerActivity"/>

        <activity
            android:name="com.example.advanceDemo.utils.FileExplorerActivity"
            android:label="@string/select_video"/>


        <activity android:name="com.example.advanceDemo.scene.ExecuteBitmapLayerActivity"/>
        <activity android:name="com.example.advanceDemo.layerDemo.ViewLayerDemoActivity"/>
        <activity android:name="com.example.advanceDemo.layerDemo.ViewLayerOnlyActivity"/>
        <activity android:name="com.example.advanceDemo.layerDemo.MVLayerDemoActivity"/>


        <!--合成类-->
        <activity android:name="com.example.advanceDemo.scene.VideoV2HActivity" />

        <activity android:name="com.example.advanceDemo.scene.VideoConcatAcvivity"
            android:screenOrientation="portrait" />


        <activity android:name="com.example.advanceDemo.ReversePlayerActivity" />


    </application>

</manifest>
